<!doctype html>
<html lang="en">

<head>
    <title>Treehouse Library</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="app.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div id="media-list">
            <h1>{{ title }}</h1>
            <select @change="filterList">
                <option value="">Select a type of media...</option>
                <option v-for="type in types">{{ type }}</option>
            </select>
            <ul>
                <li v-show="!selectedType || selectedType === media.type" v-for="media in mediaList" @click="toggleDetails(media)"
                    :class="[media.showDetail ? 'less' : 'more', mapIcon(media)]">
                    <h3>{{ media.title }}</h3>
                    <div v-show="media.showDetail">
                        <p>{{ media.description }}</p>
                        <p class="byline" v-show="media.contributor">By: {{ media.contributor }}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="app.js"></script>
</body>

</html>